.App {
  text-align: center;
  padding: 1rem;
}

.App-header {
  background-color: #282c3400;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-sizing: border-box;
}

.App-link {
  color: #61dafb;
}

.slider-container {
  position: relative;
  width: 100%; /* ocupar todo o lado direito */
  max-width: 400px; /* ou ajuste conforme seu layout */
  height: 500px; /* ajuste conforme suas imagens */
  margin-left: auto; /* empurra para a direita */
  margin-right: 2rem;
  overflow: visible; /* para não cortar as mangas da camisa */
  display: absiolute;
  justify-content: center;
  align-items: center;
}

.slider-image {
  position: absolute;
  width: auto;
  height: 100%; /* altura máxima do container */
  max-width: 100%;
  object-fit: contain; /* mostra a camisa inteira sem cortar */
  opacity: 0;
  transition: opacity 0.8s ease-in-out, transform 0.5s ease;
}

.slider-image.active {
  opacity: 1;
  transform: scale(20.05); /* leve zoom para efeito de destaque */
}
